@page
@model Teacher.Website.Feature.Routing.IndexModel
@{
    ViewData["Title"] = "Routing";
}

<h4>@ViewData["Title"]</h4>
<p>Znaleziono @Model.Data.Routes.Count ścieżek</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nazwa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var route in Model.Data.Routes)
        {
            <tr>
                <td>
                    <a href="@route.AttributeRouteInfo.Template" >@route.AttributeRouteInfo.Template</a>
                </td>
            </tr>
        }
    </tbody>
</table>