@page "{Id:int}"
@model Question.Update.IndexModel
@{
    ViewData["Title"] = "Edytuj pytanie";
}

<h4>@ViewData["Title"]</h4>

<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <section>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <label asp-for="Data.Question.CategoryName"></label>
                <select name="Data.Question.CategoryId" asp-items="Model.Data.Categories"></select>
                <input asp-for="Data.Question.Id" />
                <div class="form-group">
                    <label asp-for="Data.Question.Content"></label>
                    <input asp-for="Data.Question.Content" class="form-control" />
                    <span asp-validation-for="Data.Question.Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Data.Question.Answer"></label>
                    <input asp-for="Data.Question.Answer" class="form-control" />
                </div>
                <div class="center">
                    <button type="submit" name="edit" class="btn btn-primary">Zmień</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}