@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = "~/Feature/Shared/_LayoutNoHeader.cshtml";
}

<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <h5 class="center">Wylogowano. Miłego dnia.</h5>
        <a class="btn btn-outline-info btn-block mt-md-4" asp-area="Identity" asp-page="Login">A jednak nie, zaloguj ponownie</a>
    </div>
</div>